html,body{margin:0; padding:0;}
body{
	color:#222222;
}
body > section, footer, header {
	padding: 1rem 10vw;
	margin: 0 auto;
}
header a{
	text-decoration: none;
}
.codehilite{
	background: #f5f5f5 none repeat scroll 0 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow-x: auto;
	padding: 5px 10px;
	word-wrap: normal;
}
blockquote {
	border-left: .5rem solid #ccc;
	color: #707070;
	margin-left: 19px;
	padding: 10px 20px;
	background-color: #f5f5f5;
}
nav ul{
	list-style: none;
	margin: 0 auto;
	padding: 0 10vw;
	background: rgba(255,255,255, .5);
}
nav li {
	display:inline-block;
}
nav li a {
	text-decoration: none;
	padding: .5rem 1rem 0 1rem;
	line-height:3rem;

}
nav li:hover {
	background: linear-gradient( rgba(72, 132, 228, .15) 50%, rgba(0,0,0,0) 100%);
}
#logo{
	max-width: 40vw;
	height:auto;
}
.block{width:50%;float:left;}
#front{ color: #ffffff;font-size:120%;}
@media all and (max-width: 768px) {
	body > section, footer, header {
		padding: 1rem;
		margin: 0 auto;
	}
	.column-50{
		width:100vw;
	}
	nav ul {
		padding : 0;
	}
	.block{
		width:100%;
		float:none;
	}
}