<h1 id="markdown-header-nomadphp-framework-project">Overview</h1>
<p>The Nomad Project's main goal is to provide a very quick and easy way for coders to design and develop a site. Nomad
   is written in PHP with MySQL, jQuery, and other helper libraries to ensure the HTML5 works in older browsers.
   The Nomad Project utilizes a blend of Hierarchical model-view-controller and Presentation-abstraction-control
   architectural patterns. It is divided into interconnected parts which can significantly speed up development time.</p>
<p>This is designed to be a full-featured framework which includes:</p>
<ul>
	<li><strong>Routing</strong> - Both simple and dynamic are handled.</li>
	<li><strong>Annotations</strong> - Use annotations to simplify tasks like dependency injection, acl checks, change
									 layouts, and more.
	</li>
	<li><strong>Registry</strong> - Use a registry for things.</li>
	<li><strong>Sessions</strong> - A simple and elegant way to interact with php sessions.</li>
	<li><strong>Caching</strong> - Cache whole pages, partials (blocks) and database queries</li>
	<li><strong>Forms</strong> - Create forms with validation and filtering with many predefined element types (or
							   define your own). Use
							   form success and failure handlers to simplify form processing. Plus auto-csrf
							   (disable-able).
	</li>
	<li><strong>View Rendering</strong> - Anything can become 'Viewable' and placed within the specified layout and/or
										theme.
	</li>
	<li><strong>Themes</strong> - Create themes easily by defining some placeholders, css, and js</li>
	<li><strong>Database</strong> - Easily make calls to a database (only mySQL at this time, but you can add your own
								  driver to use whatever).
	</li>
	<li><strong>Models</strong> - Populate models easily from a database. Complete with property filtering via
								annotations.
	</li>
	<li><strong>Email</strong> - Send html emails easily by setting up a theme and a view.</li>
	<li><strong>Access Control</strong> - Define roles and oder them in a tree. Then allow annotations to determine
										access.
	</li>
	<li><strong>Fine Grain Access Control</strong> - Define custom functions to check before allowing access.</li>
	<li><strong>XCss</strong> - Php within css files simplify asset url creation, allow variables for things such as
							  color. Complete with
							  helper functions to shade and rotate colors. These files are interpreted and then placed
							  in the public folder. Note:
							  Interpretation only occurs on DEVELOPMENT environments.
	</li>
	<li><strong>Static Helpers</strong> - Array methods such as flatten, String methods such as makePath, Date methods
										such as MySQL formatting.
	</li>
	<li><strong>Validators</strong> - Many common validators such as digit, email address, no html, and more.</li>
	<li><strong>Filters</strong> - Many common filters such as restricted html, safe string trim, and more.</li>
</ul>
<p>This project does incorporate other packages: RatchetPhp for web sockets, html purifier, kint debugger.</p>
<h2 id="markdown-header-getting-started">Getting Started</h2>
<p>NomadPhp comes with the website as an example to make the learning curve a little easier. I could have made a
   separate
   repository that sets up the default directories within your project similar to symfony; however I only wanted to
   maintain
   a single repository. To make this happen use this <strong>composer.json</strong> file:</p>
<div class="codehilite"><pre><span class="p">{</span>
  <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"yourCompany/yourProject"</span><span class="p">,</span>
  <span class="s2">"description"</span><span class="o">:</span> <span class="s2">"Your project's description"</span><span class="p">,</span>
  <span class="s2">"require"</span><span class="o">:</span> <span class="p">{</span>
    <span class="s2">"mhillebert/nomad"</span><span class="o">:</span> <span class="s2">"dev-master"</span>
  <span class="p">},</span>
  <span class="s2">"type"</span> <span class="o">:</span> <span class="s2">"project"</span><span class="p">,</span>
  <span class="s2">"repositories"</span><span class="o">:</span> <span class="p">[</span>
    <span class="p">{</span>
      <span class="s2">"type"</span><span class="o">:</span> <span class="s2">"vcs"</span><span class="p">,</span>
      <span class="s2">"url"</span><span class="o">:</span>  <span class="s2">"https://mhillebert@bitbucket.org/mhillebert/nomad.git"</span>
    <span class="p">}</span>
  <span class="p">],</span>
  <span class="s2">"autoload"</span><span class="o">:</span> <span class="p">{</span>
    <span class="s2">"psr-4"</span><span class="o">:</span> <span class="p">{</span>
      <span class="s2">"Nomad\\"</span><span class="o">:</span> <span class="s2">"vendor/mhillebert/nomad/src"</span>
    <span class="p">}</span>
  <span class="p">},</span>
  <span class="s2">"authors"</span><span class="o">:</span> <span class="p">[</span>
    <span class="p">{</span>
      <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"Your name"</span><span class="p">,</span>
      <span class="s2">"email"</span><span class="o">:</span> <span class="s2">"your@email"</span>
    <span class="p">}</span>
  <span class="p">],</span>
  <span class="s2">"scripts"</span><span class="o">:</span> <span class="p">{</span>
      <span class="s2">"post-install-cmd"</span><span class="o">:</span> <span class="p">[</span>
          <span class="s2">"mv vendor/mhillebert/nomad/Application/ ."</span><span class="p">,</span>
          <span class="s2">"mv vendor/mhillebert/nomad/bin/ ."</span><span class="p">,</span>
          <span class="s2">"mv vendor/mhillebert/nomad/cron/ ."</span><span class="p">,</span>
          <span class="s2">"mv vendor/mhillebert/nomad/cache/ ."</span><span class="p">,</span>
          <span class="s2">"mv vendor/mhillebert/nomad/onetime/ ."</span><span class="p">,</span>
          <span class="s2">"mv vendor/mhillebert/nomad/tests/ ."</span><span class="p">,</span>
          <span class="s2">"mv vendor/mhillebert/nomad/tmp/ ."</span><span class="p">,</span>
          <span class="s2">"mv vendor/mhillebert/nomad/uploads/ ."</span><span class="p">,</span>
          <span class="s2">"mv vendor/mhillebert/nomad/public/ ."</span><span class="p">,</span>
          <span class="s2">"cp -r vendor/mhillebert/nomad/vendor/mhillebert/ vendor"</span><span class="p">,</span>
          <span class="s2">"rm -rf vendor/mhillebert/nomad/vendor"</span>
      <span class="p">]</span>
  <span class="p">}</span>
<span class="p">}</span>
</pre>
</div>


<p>This will install all the necessary dependencies and set you up right. The only other configuration is your web
   server.
   If you use apache then you should include (replace 'development' with your server's environment) </p>
<blockquote>
	<p>setEnv ENVIRONMENT=development</p>
</blockquote>
<h2 id="markdown-header-on-your-way">On Your Way</h2>
<p>You should be able to access your project's site at this time. It will be the framework's static website
	<a href="http://thenomadproject.net">Nomad Project</a>.
   The documentation at this time is not complete and youmost likely will need to dive into the source code.
   But, no worries, this is what learning code is all about. So, play around, extend classes and break it, then make it
   better! </p>