<div id="front">
	<div class="block">
		<h2>No Subscription Required!</h2>
		<?php
		echo  "<p>{$this->freeMessage}<ul>";
		foreach ($this->freeList as $item) {
			echo "<li>{$item}</li>";
		}
		echo "</ul>";
		?>
		<p>
			<button class="link-btn">Download Now!</button>
		</p>
	</div>
	<div class="block">
		<img id="logo" src="/assets/images/nomadphp.svg" alt="NomadPhp logo"/>
	</div>
</div>
